<!DOCTYPE html>
<html>
<head>
  @*<partial></partial>*@
  <meta charset="utf-8" />
  @await Html.PartialAsync("_Bootstrap.cshtml")
  @await Html.PartialAsync("_Styles.cshtml")
</head>
<body>
  <!--Header-->
  <div>
      <div class="text-center">
          <div class="row">
              <div class="col">
                  <div class="Row">
                      <div style="margin-bottom:-25px" class="col text-right">
                     <h6><span> ভ্যাট রেজি: নং ০০৩২৮১৯৪৩০৪০১</span></h6>
                      </div>
                  </div>
                     <h6><span class="deleveryChallan">ডেলিভারী চালান</span></h6>
              <h1>রোজিনা এন্টারপ্রাইজ</h1>
              <p style="line-height:60%">সকল প্রকার স্কিন প্রিন্টের রং সুলভ মূল্যে পাওয়া যায় ।</p>
              <div class="row">
                  <div class="col text-left">
                     <h6><span style="margin-left:15px;">নং-</span></h6>
                  </div>
                  <div class="col">
                      <p class="text-left" style="line-height:60%; margin-left:-250px;">আস্থা ভবন, প্লট নং- ২০, রোড নং- ০১, ব্লক - খ, সেকশন - ৬, মিরপুর- ১০, ঢাকা-১২১৬ 
                 </p>
                  </div>
              </div>
              <p style="line-height:60%">ফোন : ৯০০৭৪৪১, মোবা: ০১৬৮৫-০৯৬৭৬৬, ০১৯৭১-০১০৫৪৬
                 </p>
              </div>
          </div>
@*          <div class="row">
              <div class="col-1"></div>
              <div class="col-2">
                  @await Html.PartialAsync("LogoBase64")
              </div>
              <div class="col-6">
                 <h3>Laa Tahzan Shop</h3>
                 <h6>Mirpur-11, Pallabi, Dhaka-1216</h6>
              </div>
          </div>*@
              @*<h3>@ViewData["Date"]</h3>*@
      </div>
  </div>
  <!--Content-->
  <div>
    @RenderBody()
  </div>
  <!--Footer-->
</body>
</html>